<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <script>
      var defaultFontSize = 0;
      function getDefaultFS() {
          var d = window.document.createElement('div');
          d.style.width = '1rem';
          d.style.display = "none";
          var head = window.document.getElementsByTagName('head')[0];
          head.appendChild(d);
          defaultFontSize = parseFloat(window.getComputedStyle(d, null).getPropertyValue('width'));
          d.remove();
      }
      function adapt(designWidth, rem2px) {
          if(!navigator.userAgent.match(/(iphone|ipad|android)/gi)){
              document.documentElement.style.fontSize="50px";
              document.documentElement.style.background = "#000";
              return;
          }
          if (window.orientation == 0 || window.orientation == 180) {
              document.documentElement.classList.remove("hori");
          } else {
              document.documentElement.classList.add("hori");
          }
          var head = window.document.getElementsByTagName('head')[0];
          document.documentElement.style.fontSize = window.innerWidth / designWidth * rem2px / defaultFontSize * 100 + '%';
          var st = document.createElement('style');
          var portrait = "@media screen and (min-width: " + window.innerWidth + "px) {html{font-size:" + ((window.innerWidth / (designWidth / rem2px) / defaultFontSize) * 100) + "%;}}";
          var landscape = "@media screen and (min-width: " + window.innerHeight + "px) {html{font-size:" + ((window.innerHeight / (designWidth / rem2px) / defaultFontSize) * 100) + "%;}}"
          st.innerHTML = portrait + landscape;
          head.appendChild(st);
      };
      getDefaultFS();
      adapt(750, 100);
      window.addEventListener("resize", function () {
          adapt(750, 100);
      })
    </script>
    <style>
      .hori .toolbar-hb-tb {
          font-size: 13px;
      }
      .warn{
          background: #ffcece;
      }
      
    </style>
  <link href="static/css/entry.min.css" rel="stylesheet"></head>
  <body>
    <div id="app" style="opacity:0" :class="appClass">
      <load></load>
      <div id="app-body">
        <app-header :list="list.headers" v-model="target.headerIndex">
          <div class="header-toolbar flex-row" v-show="target.headerIndex==0"><span class="flex-item" @click="target.realTab=item.value" v-for="item in list.realTabs" v-html="item.name" :class="{active:target.realTab==item.value}"></span></div>
        </app-header>
        <div class="body">
          <mask-box class="body-aside" v-model="flag.showInput">
            <div class="body-aside-box body-aside-input">
              <div class="mb">
                <input v-model.lazy="param.operate.input">
              </div>
              <div>
                <button class="button" v-html="btnConfirmText" @click="actConfirm"></button>
              </div>
            </div>
          </mask-box>
          <mask-box class="body-aside" v-model="flag.showAside">
            <div class="body-aside-box">
              <div class="badge-box">
                <p class="title">渠道：</p>
                <div><span class="badge" v-for="item in channels" v-html="item.text" @click="changeStatus(&quot;channel&quot;,true)"></span></div>
              </div>
              <div class="badge-box">
                <p class="title">子渠道：</p>
                <div><span class="badge" v-for="item in subChannels" v-html="item.text" @click="changeStatus(&quot;channel&quot;,true)"></span></div>
              </div>
              <div class="badge-box">
                <p class="title">游戏：</p>
                <div><span class="badge" v-for="item in games" v-html="item.text" @click="changeStatus(&quot;game&quot;,true)"></span></div>
              </div>
              <div class="badge-box">
                <p class="title">子游戏：</p>
                <div><span class="badge" v-for="item in subGames" v-html="item.text" @click="changeStatus(&quot;game&quot;,true)"></span></div>
              </div>
              <div class="badge-box" v-show="param.search.site">
                <p class="title">子站：</p>
                <div><span class="badge" v-html="param.search.site" @click="changeStatus(&quot;site&quot;,true)"></span></div>
              </div>
              <div class="input-group">
                <input placeholder="请输入配置名" v-model.lazy="param.local.name">
                <button class="button" @click="saveLocal">保存</button>
              </div>
              <div class="badge-box" v-show="list.locals.length&gt;0" style="border-bottom:0;">
                <div>
                  <div class="badge full-w" v-for="(item,index) in list.locals" v-if="item" @click="resetParam(item.setting)"><span v-html="item.name"></span><span class="iconfont icon-close-circle fl-right" @click.stop="removeLocal(index)"></span></div>
                </div>
              </div>
            </div>
          </mask-box>
          <div class="body-header"><span class="iconfont icon-param" @click="flag.showAside=true" style="z-index:3">条件项</span></div>
          <div class="body-content" ref="bodyContent">
            <div class="full-h" v-show="flag.isQuery" style="position:relative;padding-top:.5rem;">
              <div class="toolbar-hb-tb" style="min-height:.5rem;line-height:.5rem;position:absolute;left:0;right:0;top:0;z-index:2;" v-show="target.headerIndex==0">
                <p v-show="target.realTab=='popup'">环比：<span v-html="ratePost(table.popup.hb)" :class="rateClass(table.popup.hb)"></span> 同比：<span v-html="ratePost(table.popup.tb)" :class="rateClass(table.popup.tb)"></span></p>
                <p v-show="target.realTab=='active'">环比：<span v-html="ratePost(table.active.hb)" :class="rateClass(table.active.hb)"></span> 同比：<span v-html="ratePost(table.active.tb)" :class="rateClass(table.active.tb)"></span></p>
                <p v-show="target.realTab=='reg'">环比：<span v-html="ratePost(table.reg.hb)" :class="rateClass(table.reg.hb)"></span> 同比：<span v-html="ratePost(table.reg.tb)" :class="rateClass(table.reg.tb)"></span></p>
              </div>
              <div style="position:absolute;left:0;top:-.17rem;z-index:2" v-show="target.headerIndex==1"><span>状态：</span><span class="badge" :class="{'clr-active':param.operate.status==0}" @click="actOperateStatus(0)">所有</span><span class="badge" :class="{'clr-active':param.operate.status==1}" @click="actOperateStatus(1)">开启</span><span class="badge" :class="{'clr-active':param.operate.status==-1}" @click="actOperateStatus(-1)">关闭</span><span style="cursor:pointer;" @click="doQueryLog">操作日志</span></div>
              <div class="full-h" ref="content">
                <div v-show="target.headerIndex==1">
                  <ts-table :td-class="detailTdClass" :headers="detailHeadersFormat" :rows="detailRowsFormat" fixed="1" :height="table.height" :header-list="detailHeaderRows">
                    <div slot="column" key="check">
                      <template scope="props">
                        <el-check v-model="flag.checkAll" v-if="props.index==0" @change="toggleCheckAll"></el-check>
                        <el-check v-model="props.item.checked" v-if="props.index!=0" @change="checkIsAll"></el-check>
                      </template>
                    </div>
                    <div slot="column" key="operate">
                      <template scope="props">
                        <el-switch v-if="props.index==0" :active-value="1" :inactive-value="0" v-model="flag.statusCheck" @change="doStatusAll(props.item)"></el-switch>
                        <el-switch v-if="props.index!=0" :active-value="1" :inactive-value="0" v-model="props.item.status" @change="doStatus(props.item)"></el-switch>
                      </template>
                    </div>
                    <div slot="column" key="input">
                      <template scope="props"><span v-if="props.index==0">---</span>
                        <div class="clr-active" v-if="props.index!=0" v-html="props.item[props.column.key]||'---'" @click="actInput(props.item,props.column.key)"></div>
                      </template>
                    </div>
                  </ts-table>
                </div>
                <div v-show="target.headerIndex==0">
                  <div v-show="target.realTab=='popup'">
                    <ts-table :headers="table.popup.header" :rows="table.popup.rows.slice(0,table.popup.rows.length-1)" fixed="1" :height="table.height" :header-list="table.popup.rows.length==1?[]:table.popup.rows.slice(table.popup.rows.length-1)"></ts-table>
                  </div>
                  <div v-show="target.realTab=='active'">
                    <ts-table :headers="table.active.header" :rows="table.active.rows.slice(0,table.active.rows.length-1)" fixed="1" :height="table.height" :header-list="table.active.rows.length==1?[]:table.active.rows.slice(table.active.rows.length-1)"></ts-table>
                  </div>
                  <div v-show="target.realTab=='reg'">
                    <ts-table :headers="table.reg.header" :rows="table.reg.rows.slice(0,table.reg.rows.length-1)" fixed="1" :height="table.height" :header-list="table.reg.rows.length==1?[]:table.reg.rows.slice(table.reg.rows.length-1)"></ts-table>
                  </div>
                  <div v-show="target.realTab=='real'">
                    <div class="flex-row frame-box">
                      <div class="flex-item frame-item" @click="target.realFrame='popup'" :class="{active:target.realFrame=='popup'}">
                        <p class="title">弹窗数</p>
                        <p v-html="chart.popup.sum"></p>
                        <p>环比：<span v-html="ratePost(chart.popup.hb)" :class="rateClass(table.popup.hb)"></span></p>
                        <p>同比：<span v-html="ratePost(chart.popup.tb)" :class="rateClass(table.popup.tb)"></span></p>
                      </div>
                      <div class="flex-item frame-item" @click="target.realFrame='active'" :class="{active:target.realFrame=='active'}">
                        <p class="title">激活数</p>
                        <p v-html="chart.active.sum"></p>
                        <p>环比：<span v-html="ratePost(chart.active.hb)" :class="rateClass(table.active.hb)"></span></p>
                        <p>同比：<span v-html="ratePost(chart.active.tb)" :class="rateClass(table.active.tb)"></span></p>
                      </div>
                      <div class="flex-item frame-item" @click="target.realFrame='reg'" :class="{active:target.realFrame=='reg'}">
                        <p class="title">注册数</p>
                        <p v-html="chart.reg.sum"></p>
                        <p>环比：<span v-html="ratePost(chart.reg.hb)" :class="rateClass(table.reg.hb)"></span></p>
                        <p>同比：<span v-html="ratePost(chart.reg.tb)" :class="rateClass(table.reg.tb)"></span></p>
                      </div>
                    </div>
                    <div>
                      <chart type="line" chart-extend :chart-options="realChart" :style="{height:table.height/2+'px','transform':'translateY(20%)'}"></chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="empty" v-show="!flag.isQuery"><i class="iconfont icon-empty"></i> 请选择好渠道，游戏，子站查询</div>
          </div>
          <div class="body-footer">
            <div>
              <button class="button" @click="actQuery">查询</button>
            </div>
          </div>
        </div>
        <calendar v-model="status.calendar" @change="setDate" range :validate-fn="validateDate"></calendar>
        <mask-box v-model="status.date">
          <div class="toolbar-date">
            <ul>
              <li class="date-item" @click="chooseDate(0)">当天</li>
              <li class="date-item" @click="chooseDate(-2)">最近3天</li>
              <li class="date-item" @click="chooseDate(-7)">最近8天</li>
              <li class="date-item" @click="changeStatus('calendar',true)">自定义</li>
            </ul>
          </div>
        </mask-box>
        <modal class="setting-modal" title="请选择渠道" v-model="status.channel" @show="cloneParam('modal','search','channel')" @ok="cloneParam('search','modal','channel')">
          <search-plus-list v-model="param.modal.channel" url="/index.php?c=xzl&amp;a=classify_list" sub-url="/index.php?c=xzl&amp;a=union_mapping_list"></search-plus-list>
        </modal>
        <modal class="setting-modal" title="请选择游戏" v-model="status.game" @show="cloneParam('modal','search','game')" @ok="cloneParam('search','modal','game')">
          <search-plus-list placeholder="请输入游戏名" url="/index.php?c=xzl&amp;a=game_list" sub-url="/index.php?c=xzl&amp;a=c_game_list" sub-field="game_id" v-model="param.modal.game"></search-plus-list>
        </modal>
        <modal title="请选择子站" v-model="status.site" @show="cloneParam('modal','search','site')" @ok="cloneParam('search','modal','site')">
          <div class="search-box">
            <div class="search-input-box">
              <input class="search-input" placeholder="请输入子站名" v-model.lazy="param.modal.site">
            </div>
            <div class="search-list" v-show="list.uids.length">
              <div class="list-item">最近常用</div>
              <div class="list-item" v-for="item in list.uids" v-html="item" @click="param.search.site=item;status.site=false;"></div>
            </div>
          </div>
        </modal>
        <modal v-model="status.setting" @show="cloneParam('modal','setting','currentTab'),cloneParam('modal','setting','columns')" @ok="doSetSetting">
          <div class="font-strong">默认首页</div>
          <div class="flex-row flex-wrap">
            <div class="setting-item" v-for="item in list.tabs"><span v-html="item.name" :class="{'clr-active':item.value==param.modal.currentTab}" @click="param.modal.currentTab=item.value"></span></div>
          </div>
          <div v-show="target.headerIndex==1">
            <div class="font-strong">自定义列</div>
            <div class="setting-group"><span>操作列</span><span class="iconfont icon-check-full pl" :class="{'clr-active':operateColumnsCheckAll}" @click="toggleCheckColumns(list.columns.slice(1,4),!operateColumnsCheckAll)">&nbsp;所有</span></div>
            <div class="flex-row flex-wrap">
              <div class="setting-item" v-for="item in list.columns.slice(1,4)"><span v-html="item.label" :class="{'clr-active':param.modal.columns[item.key]}" @click="toggleCheck(param.modal.columns,item.key)"></span></div>
            </div>
            <div class="setting-group"><span>维度列</span><span class="iconfont icon-check-full pl" :class="{'clr-active':dimColumnsCheckAll}" @click="toggleCheckColumns(list.columns.slice(4,10),!dimColumnsCheckAll)">&nbsp;所有</span></div>
            <div class="flex-row flex-wrap">
              <div class="setting-item" v-for="item in list.columns.slice(4,10)"><span v-html="item.label" :class="{'clr-active':param.modal.columns[item.key]}" @click="toggleCheck(param.modal.columns,item.key)"></span></div>
            </div>
            <div class="setting-group"><span>数据列</span><span class="iconfont icon-check-full pl" :class="{'clr-active':dataColumnsCheckAll}" @click="toggleCheckColumns(list.columns.slice(10),!dataColumnsCheckAll)">&nbsp;所有</span></div>
            <div class="flex-row flex-wrap">
              <div class="setting-item" v-for="item in list.columns.slice(10)"><span v-html="item.label" :class="{'clr-active':param.modal.columns[item.key]}" @click="toggleCheck(param.modal.columns,item.key)"></span></div>
            </div>
          </div>
        </modal>
        <modal v-model="status.log" hide-footer>
          <ts-table :headers="table.logs.headers" :rows="table.logs.rows" :height="table.height" fixed="2"></ts-table>
        </modal>
        <app-footer :list="list.footers"></app-footer>
      </div>
    </div>
    <script>
      var requirejs = {
          baseUrl: "./static/js/app/",
          paths:{
              url:"./report/pc.config"
          }
      };
      var APP = ["xzl/entry"]
    </script>
    <script src="./static/js/lib/require.js"></script>
  <script type="text/javascript" src="static/js/entry.min.js"></script></body>
</html>